<!DOCTYPE html>
<html lang="zh">
{%load static from staticfiles%}
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>404</title>
	<link rel="stylesheet" type="text/css" href="{% static '404/css/htmleaf-demo.css' %}">
	<link rel="stylesheet" href="{% static '404/css/style.css' %}">
	<!--[if IE]>
		<script src="http://libs.useso.com/js/html5shiv/3.7/html5shiv.min.js"></script>
	<![endif]-->
</head>
<body>
	<div class="htmleaf-container">
		<header class="htmleaf-header"></header>
		
	</div>
	<nav class="shelf">
	  <a class="book home-page" href="/">家</a>
	  <a class="book about-us" href="/about/">关于</a>
	  <a class="book contact" href="/contact/">联系</a>
	  <a class="book faq">F.A.Q.</a>
	  
	  <span class="book not-found"></span>
	 
	  <span class="door left"></span>
	  <span class="door right"></span>
	</nav>
	<h1>Error 404</h1>
	<p>糟糕，您要找的书籍不在书架中。。。</p>
	
</body>
</html>