{% extends 'base.html' %}
{%load static from staticfiles%}
{% block title %}关于{% endblock title %}
{% block body_id %}<body id="page">{% endblock body_id %}
{% block link %}
<link rel="stylesheet" href="{% static 'ALiIcon/iconfont.css' %}">
{% endblock link %}
{% block son %}
<div class="content-body">
		<div class="container">
			<div class="row">
				<main class="col-md-12">
					<h1 class="page-title">关于我</h1>
					<article class="post">
						<div class="entry-content clearfix">
							<figure class="img-responsive-center">
								<img class="img-responsive" src="{% static 'img/me.png' %}" alt="Developer Image">
							</figure>
							<p>Le vent se lève, il faut tenter de vivre</p>
							<p>纵有疾风起 人生不言弃</p>
							<div class="height-40px"></div>
							<h2 class="title text-center">Social</h2>
							<ul class="social">
								<li class="twitter"><a href="https://weibo.com/p/1005055138284214/home?from=page_100505&mod=TAB#place" target="_blank"><span class="iconfont icon-weibo"></span></a></li>
								<li class="twitter"><a href="http://aibeta.oss-cn-beijing.aliyuncs.com/img/QQ.jpg" target="_blank"><span class="iconfont icon-QQ" ></span></a></li>
								<li class="twitter"><a href="http://aibeta.oss-cn-beijing.aliyuncs.com/img/%E5%BE%AE%E4%BF%A1.jpg" target="_blank"><span class="iconfont icon-wechat"></span></a></li>
								<li class="twitter"><a href="https://github.com/LSJOP/Blog" target="_blank"><span class="iconfont ion-social-github"></span></a></li>
							</ul>
						</div>
					</article>
				</main>
			</div>
		</div>
	</div>
{% endblock son %}