{% extends 'base.html' %}
{%load static from staticfiles%}
{% block title %}Black &amp; White{% endblock title %}

{% block son %}
<div class="content-body">
    <div class="container">
        <div class="row">
            <main class="col-md-8">
                {% for Article_obj in Article_obj_list %}
                <article class="post post-1">
                    <header class="entry-header">
                        <h1 class="entry-title">
                            <a href="single.html">{{ Article_obj.title }}</a>
                        </h1>
                        <div class="entry-meta">
                                <span class="post-category"><a href="#">{{ Article_obj.classfiy }}</a></span>
                                <span class="post-date"><a href="#"><time class="entry-date"
                                                                          datetime="2012-11-09T23:15:57+00:00">{{ Article_obj.update_time }}</time></a></span>
                                <span class="post-author"><a href="#">{{ Article_obj.author }}</a></span>
                                <span class="comments-link"><a href="#">{{ Article_obj.comment_num }} 评论</a></span>
                                <span class="views-count"><a href="#">{{ Article_obj.read_num }} 阅读</a></span>
                        </div>
                    </header>
                    <div class="entry-content clearfix">
                            <p>{{ Article_obj.excerpt }}</p>
                            <div class="read-more cl-effect-14">
                                <a href="/blog/{{ Article_obj.id }}/" class="more-link">继续阅读 <span class="meta-nav">→</span></a>
                            </div>
                        </div>
                </article>
                {% endfor %}

                <!-- 简单分页效果
                <div class="pagination-simple">
                    <a href="#">上一页</a>
                    <span class="current">第 6 页 / 共 11 页</span>
                    <a href="#">下一页</a>
                </div>
                -->
                <div class="pagination">
                        <ul>
                            {% if goods.has_previous %}
                                <a href="/{{ Article_obj_list.previous_page_number }}/">&lt;上一页</a>
                            {% endif %}
                        {% for pindex in pages %}
                            {% if pindex == goods.number %}
                            <li><a href="/{{ pindex }}" class="current">{{ pindex }}</a></li>
                            {% else %}
                            <li><a href="/{{ pindex }}" >{{ pindex }}</a></li>
                            {% endif %}
                            {% endfor %}
                         {% if goods.has_next %}
                             <a href="/{{ Article_obj_list.next_page_number }}/">下一页&gt;</a>
                         {% endif %}
                        </ul>
                    </div>
                </main>
    
             <aside class="col-md-4">
                {% block toc %}<!-- 给文章目录的预留块 -->{% endblock toc %}

                <div class="widget widget-recent-posts">
                    <h3 class="widget-title">最新文章</h3>
                    <ul>
                        {% for article in New_Article_List %}
                        <li>
                            <a href="/blog/{{ article.id }}/">{{ article.title }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="widget widget-archives">
                    <h3 class="widget-title">归档</h3>
                    <ul>
                        {% for date in date_list %}
                        <li>
                            <a href="/tidy/{{ date.year }}/{{ date.month }}/">{{ date.year }} 年 {{ date.month }} 月</a>
                        </li>
                        {% empty %}
                        暂无归档！
                        {% endfor %}
                    </ul>
                </div>

                <div class="widget widget-category">
                    <h3 class="widget-title">分类</h3>
                    <ul>
                        {% for class in Classfiy_List %}
                            <li>
                                <a href="/classfiy/{{ class.id }}">{{ class.name }}<span class="post-count">({{ class.sum }})</span></a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="widget widget-tag-cloud">
                    <h3 class="widget-title">标签云</h3>
                    <ul>
                        {% for tag in tags %}
                        <li>
                            <a href="/tags/{{ tag.id }}">{{ tag }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="rss">
                    <a href=""><span class="ion-social-rss-outline"></span> RSS 订阅</a>
                </div>
            </aside>


        </div>
    </div>
</div>
{% endblock son %}
