{% extends 'base_forgot.html' %}
{%load static from staticfiles%}
{% block block %}
	<body class="style-3">

		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<ul class="menu">
						<li><a href="/Login/forgot/">Style 1</a></li>
						<li><a href="/Login/forgot/2">Style 2</a></li>
						<li class="active"><a href="#">Style 3</a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-md-push-8">
					

					<!-- Start Sign In Form -->
					<form action="#" class="fh5co-form animate-box" data-animate-effect="fadeInRight">
						<h2>忘记密码</h2>
						<div class="form-group">
							<div class="alert alert-success" role="alert">请输入你的邮箱</div>
						</div>
						<div class="form-group">
							<label for="email" class="sr-only">邮箱</label>
							<input type="email" class="form-control" id="email" placeholder="邮箱" autocomplete="off">
						</div>
						<div class="form-group">
							<p><a href="/Login/index/3">登录</a> or <a href="/Login/sign-up/3">注册</a></p>
						</div>
						<div class="form-group">
							<input type="submit" value="发送" class="btn btn-primary">
						</div>
					</form>
					<!-- END Sign In Form -->

				</div>
			</div>
{% endblock block %}